* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #fff;
    background: url("./pictures/bkSquid.webp");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  div.logo {
    display: flex;
    justify-content: center;
  }
  div.logo img {
    margin: 15px 0;
    height: 90px;
  }
 
  main.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    padding: 30px 0 30px;
    margin: 0 auto;
  }
  
  div.post-wrapper {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 4px 4px;
    max-width: 150px;
  }
  
  div.post-wrapper:hover .post-info {
    opacity: 1;
    cursor: pointer;
    

  }
  
  .post-img {
    width: 130px;
    height: 130px;
    object-fit: cover;
    
  }
  
  ul.post-item {
    list-style-type: none;
    text-align: center;
  }
  
  div.post-info {
    background: #c1c1c1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    transition: 500ms opacity ease-in-out;
    font-size: 0.7rem;
    text-align: center;
    padding: 5px;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  #loading {
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-left-color: #ea5889;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1.2s linear infinite;
  }
  
 